$('#wrap-new-posts-component').html(
`<% @new_posts_paginate.each do |post| %>
  <div class="border ps-3">
    <%= j render partial:'shared/post_dashboard_item', locals: { post: post, is_admin_manage: true } %>
  </div>
<%end %>`
);
$('#call-paginate-new-posts-ajax').html(
`<%= j will_paginate @new_posts_paginate, inner_window: 2, outer_window: 1,\
:renderer => RemoteLinkPaginationHelper::LinkRenderer, param_name: "page_new_posts" %>`
);
$('#wrap-approved-posts-component').html(
`<% @approved_posts_paginate.each do |post| %>
  <div class="border ps-3">
    <%= j render partial:'shared/post_dashboard_item', locals: { post: post, is_admin_manage: true } %>
  </div>
<%end %>`
);
$('#call-paginate-rejected-posts-ajax').html(
`<%= j will_paginate @approved_posts_paginate, inner_window: 2, outer_window: 1,\
:renderer => RemoteLinkPaginationHelper::LinkRenderer, param_name: "page_approved_posts" %>`
);
$('#wrap-rejected-posts-component').html(
`<% @rejected_posts_paginate.each do |post| %>
  <div class="border ps-3">
    <%= j render partial:'shared/post_dashboard_item', locals: { post: post, is_admin_manage: true } %>
  </div>
<%end %>`
);
$('#call-paginate-rejected-posts-ajax').html(
`<%= j will_paginate @rejected_posts_paginate, inner_window: 2, outer_window: 1,\
:renderer => RemoteLinkPaginationHelper::LinkRenderer, param_name: "page_rejected_posts" %>`
);
